# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
repositories/github.io-E.F-Dream-/
repositories/github.io-EFMagic-/
repositories/github.io-Everlasting-Fairytale-/
repositories/github.io-Everlasting-Fairytale-Accounting-Books-/
repositories/github.io-EverlastingFairytaleAccountingBooks-/
repositories/github.io-everlastingfairytalecutlturalforum-/
repositories/github.io-EverlastingFairytaleQquickStart-/
repositories/github.io-Hootan-Dehbonei-/
repositories/github.io-HootanD-/
repositories/github.io-UltimateChallange-/
